body {
    background-color: #106885 !important;
    
}
img.img-top {
    width: 100% !important;
}

.box {
    background-color:#0B4A60;
}
.content {
    min-height: 900px;
    background-color: #ffffff;
    padding: 15px;
}

.bg-dark-green {
    background-color: #073A4E !important;
}